@model SingularityFAAST.Core.Entities.LoanMaster

@{
    ViewBag.Title = "Add Loan";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLoan</title>
</head>
<body>
<div>
    Nothing to see here!  Move along
</div>
</body>
</html>
