@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>

@{
    ViewBag.Title = "RenewLn";
}

@*View Devices in Loan should go to its own page that lists each item with the ability to renew individually *@
@* This page gets Loan number and passes it to RenewItems *@
<br/>
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="col-md-offset-4">Renew Loan</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        Would you like to renew all items in this loan for 28 days?
                        Loan#  item.LoanNumber here
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        @Html.ActionLink("Renew All", "", null, new {@class = "btn btn-primary"})
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        @Html.ActionLink("View Loan Details to Renew Items", "RenewItems", null, null)  
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        @Html.ActionLink("Cancel", "", null, new {@class = "btn btn-primary"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


