
@{
    ViewBag.Title = "AddClient";
}

<h2>Add New Client</h2>

@using (Html.BeginForm())
{




    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Title">Title</label>
                <Input type="text" class="form-control" id="Title" name="Title">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="Company">Company</label>
                <Input type="text" class="form-control" id="Company" name="Company">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <Input type="text" class="form-control" id="FirstName" name="FirstName">
            </div>

            <div class="form-group">
                <label for="Address1">Address 1</label>
                <Input type="text" class="form-control" id="Address1" name="Address1">
            </div>

            <div class="form-group">
                <label for="StateName">State Name</label>
                <Input type="text" class="form-control" id="StateName" name="StateName">
            </div>

            <div class="form-group">
                <label for="StateCode">State Code</label>
                <Input type="text" class="form-control" id="StateCode" name="StateCode">
            </div>

            <div class="form-group">
                <label for="CellPhone">Cell Phone</label>
                <Input type="text" class="form-control" id="CellPhone" name="CellPhone">
            </div>

            <div class="form-group">
                <label for="ClientCategoryId">Client Category</label>
                <select class="form-control" id="ClientCategoryId" name="ClientCategoryId">
                    <option value="1">Individual with Disability</option>
                    <option value="2">Family Member</option>
                    <option value="3">Professional / Representative of Community Living</option>
                    <option value="4">Professional / Representative of Education</option>
                    <option value="5">Professional / Representative of Technology</option>
                    <option value="6">Professional / Representative of Employment</option>
                    <option value="7">Professional / Representative of Health, Allied Health, Rehabilitative Services</option>
                </select>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="MiddleInitial">Middle Initial</label>
                <Input type="text" class="form-control" id="MiddleInitial" name="MiddleInitial">
            </div>

            <div class="form-group">
                <label for="Address2">Address 2</label>
                <Input type="text" class="form-control" id="Address2" name="Address2">
            </div>

            <div class="form-group">
                <label for="County">County</label>
                <Input type="text" class="form-control" id="County" name="County">
            </div>

            <div class="form-group">
                <label for="CountyFIPS">CountyFIPS</label>
                <Input type="text" class="form-control" id="CountyFIPS" name="CountyFIPS">
            </div>

            <div class="form-group">
                <label for="HomePhone">Home Phone</label>
                <Input type="text" class="form-control" id="HomePhone" name="HomePhone">
            </div>

            <div class="form-group">
                <label for="LoanEligibility">Loan Eligibility</label>
                <Input type="text" class="form-control" id="LoanEligibility" name="LoanEligibility">
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <Input type="text" class="form-control" id="LastName" name="LastName">
            </div>

            <div class="form-group">
                <label for="City">City</label>
                <Input type="text" class="form-control" id="City" name="City">
            </div>

            <div class="form-group">
                <label for="Email">Zip</label>
                <Input type="text" class="form-control" id="Email" name="Email">
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <Input type="text" class="form-control" id="Email" name="Email">
            </div>

            <div class="form-group">
                <label for="WorkPhone">Work Phone</label>
                <Input type="text" class="form-control" id="WorkPhone" name="WorkPhone">
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Notes">Notes</label>
                <textarea rows="4" class="form-control" id="Notes" name="Notes"></textarea>
            </div>
        </div>
    </div>


    <div class="text-left">
        <input class="btn btn-primary" type="submit" value="Add Client" />
    </div>

}


