
@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<table>
    <tr>
        <td>@Html.ActionLink("New Inventory Item", "NewInventoryItem", "InventoryItem", null, new { @class = "btn btn-primary" @*add some styling for padding?*@})</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("View All Inventory Items", "ViewAllInventory", "InventoryItem", null, new {@class = "btn btn-primary"})</td>
    </tr>
</table>