
@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<table>
    <tr>
        <td>@Html.ActionLink("New Inventory Item", "NewInventoryItem", "InventoryItem")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("View All Inventory Items", "ViewAllInventory", "InventoryItem")</td>
    </tr>
</table>