@using SingularityFAAST.WebUI.Models

@{
    ViewBag.Title = "NewInventoryItem";
}

@*New Inventory Item page
    Hope Haven - FAAST Inventory System
    Jonathan Ebert*@

<h1>New Item</h1>

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-3">
            @*Item Name*@
            <div class="form-group">
                <label for="ItemName">Item Name</label>
                <Input type="text" class="form-control" id="ItemName" required>
            </div>

            @*Inventory Number*@
            <div class="form-group">
                <label for="InventoryNumber">Inventory Number</label>
                <Input disabled="disabled" type="text" class="form-control" value="@Model.ReturnNextInventoryNumber" id="InventoryNumber">
            </div>

            @*Serial Number*@
            <div class="form-group">
                <label for="ItemNumber">SerialNumber</label>
                <Input type="text" class="form-control" id="SerialNumber">
            </div>

            @*Retail Cost*@
            <div class="form-group">
                <label for="RetailCost">Retail Cost</label>
                <Input type="text" class="form-control" id="RetailCost">
            </div>

            @*Cost Paid*@
            <div class="form-group">
                <label for="CostPaid">Cost Paid</label>
                <Input type="text" class="form-control" id="CostPaid">
            </div>

            @*Model Name*@
            <div class="form-group">
                <label for="ModelName">Model Name</label>
                <Input type="text" class="form-control" id="ModelName">
            </div>

            @*Location*@
            <div class="form-group">
                <label for="Location">Location</label>
                <select class="form-control" id="Location">
                    <option>Jacksonville</option>
                    <option>Tampa</option>
                    <option>Gainesville</option>
                    <option>Miami</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            @*Category*@
            <div class="form-group">
                <label for="Category">Category</label>
                <select class="form-control" id="Category" required>
                    <option disabled selected> -- select and option -- </option>
                    <option>Hearing</option>
                    <option>Eyesight</option>
                    <option>Technology</option>
                    <option>Toys</option>
                    <option>Communication/Speech</option>
                </select>
            </div>

            @*Purchase Date*@
            <div class="form-group">
                <label for="DatePurchased">Date Purchased</label>
                <Input type="datetime" class="form-control" id="DatePurchased" required>
            </div>

            @*Description*@
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows="4" class="form-control" id="Description"></textarea>
            </div>
        </div>
        
        <div class="col-md-2">
        @*Accessories*@
            <div class="form-group">
                <label for="Accessories">Accessories</label>
                <textarea rows="4" class="form-control" id="Accessories"></textarea>
            </div>

        @*Damages*@
            <div class="form-group">
                <label for="Damages">Damages</label>
                <textarea rows="4" class="form-control" id="Damages"></textarea>
            </div>

        @*@*Additional Files
            <div class="form-control">
                <label for="AdditionalFiles">Additional Files</label>
            </div>*@
        </div>
    </div>



        <div>
            @Html.ActionLink("Create Item", "NewInventoryItem", null, new { @class = "btn btn-primary" })
        </div>
}