
@{
    ViewBag.Title = "Index";
}


<h2>FAAST ADMIN HOMEPAGE (Under Construction)</h2>

The Florida Alliance for Assistive Services and Technology Inc, Florida's Assistive Technology Program for Floridians with Disabilities, 
is dedicated to increasing access to and acquisition of assistive technology (AT) devices and services for Floridians of all ages and 
disabilities so they can live, learn, work and play independently in their communities.

FAAST provides free access to information assistance services, training programs, short-term assistive technology device loans, and assistive
-technology demonstrations.  FAAST works to accomplish our mission through The New Horizon Loan Program, FAAST's Alternative Financing Program, 
the FAAST Regional Recycling Centers, and FAAST Regional Demonstration Centers.
