@model SingularityFAAST.Core.ViewModels.Reports.ClientReportViewModel

@{
   
}


<body>
    
     <h2>Client Report</h2>
    <div class="container">
        <h4>List of Clients</h4>
        
        <div class="btn btn-success pull-right">
            <a href="/Export/ClientReport" style="color: white;">
                Export
            </a>
        </div>

        <table class="table"> 
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Primary Phone</th>
                    </tr>
                </thead>
            <tbody>
                @foreach (var client in Model.clientList)
                {
                    <tr>
                        <td>@client.FirstName</td>
                        <td>@client.LastName</td>
                        <td>@client.Email</td>
                        <td>@client.CellPhone</td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    

</body>

