@model SingularityFAAST.Core.ViewModels.Reports.ClientReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    
     <h2>Client Report</h2>
    <div class="container">
        <h4>List of Clients</h4>
        <table class="table"> 
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Primary Phone</th>
                    </tr>
                </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    

</body>
</html>
