
@{
    ViewBag.Title = "Index";
}


<h2>Reports</h2>

<br />

@using (Html.BeginForm("ReportFilter", "Report", FormMethod.Post))
{
    <h3>Enter Report Range</h3>
    <div>
        Start Date: <input type="date" name="StartDate" value="@(DateTime.UtcNow.AddYears(-1))" />     
        End Date: <input type="date" name="EndDate" value="@DateTime.UtcNow" />
    </div>

    <br />

    <h3>Choose Report Type</h3>
    <div>
        <input type="radio" name="ReportType" value="1"/> Loans Report <br />
        <input type="radio" name="ReportType" value="2" /> Client Report <br />
        <input type="radio" name="ReportType" value="3" /> Inventory Report <br />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}

