@model SingularityFAAST.Core.ViewModels.Reports.LoanReportViewModel
@{
    ViewBag.Title = "LoanReports";
}

<h2>Loan Reports</h2>

<div class="container">
    <br />
    <p>Total number of loans: @Model.TotalNumberOfLoans</p>
</div>