@{
    ViewBag.Title = "FAASTer Log In";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container container-fluid">
    <div class="col-md-6 col-md-offset-4">
        <form class="form-signin">
            <div>
                <h2 class="form-signin-heading">Please Sign In</h2>
            </div>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 250px;">Sign in</button>
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />